* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#header-pic {
    height: auto;
    width: 500px;
}
body {
    background-color: #e74e8b;
    color: white;
    text-align: center;
}

div {
    background-color: whitesmoke;
    color: black;
    text-align: left;
}

.header-two {
    color:#9F164D;
}

.header-two.first {
    color: white;
}
